.logo{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.logo img{
    width: 45px;
}
.logo h3{
    width: 50%;
    text-transform: capitalize;
    color:  rgb(9, 56, 128);
}
.side{
    height: 100vh;
 
    border-right: 1px solid rgba(128, 128, 128, 0.336);

}
